.header {
  display: flex;
  height: 20px;
  line-height: 10px;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 5rem;
        margin-right: 2rem;
        margin-top: -8px;
      }
      ul {
        display: flex;
        gap: 1.5rem;

        li {
          padding: 0;
          text-transform: uppercase;
          font-weight: 800;
          cursor: pointer;
          line-height: 1.5rem;

          &:hover {
            color: #ff5f00;
          }

          &.linkActive {
            color: #ff5f00;
            border-bottom: 2px solid #ff5f00;
          }

          .sixtPlus {
            font-size: 0.75rem;
            text-align: end;
            margin-left: 0.325rem;
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 0.425rem;
      text-transform: uppercase;
      font-weight: 800;
      margin-right: 1rem;

      &:hover {
        color: #ff5f00;
      }

      cursor: pointer;
      :first-child {
        font-size: 1.35rem;
      }
      :last-child {
        font-size: 0.75rem;
      }
    }
  }
}
